.answer {
    margin-right: 1.5em;
    border: #4D5B9E 2px solid ;
    border-radius: 18px;
    padding: .4em 1.2em;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.answer:hover {
    border-color: #D6DBF5;
    background-color: #D6DBF5;
}