.quiz {
    margin: 3em;
}

.question-container {
    padding-block: 2em;
    border-bottom: #DBDEF0 1px solid;
}

.question {
    font-size: 1.8rem;
    line-height: 1.1;
    text-align: left;
}

.answers {
    margin-block: 1em;
    display: flex;
    font-size: 1.3rem;
}

.answer {
    margin-right: 1.5em;
    border: #4D5B9E 2px solid ;
    border-radius: 18px;
    padding: .4em 1.2em;
    display: flex;
    align-items: center;
}

.answer:hover {
    background-color: #D6DBF5;
    border: #D6DBF5 2px solid ;
}