* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #293264;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5F7FB;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700; 
}

h1, h2 {
  font-family: Karla, Avenir, Helvetica, Arial, sans-serif;
}

p, h1, h2 {
  margin: 0;
}
